/* This is the Football Predictions CSS page */
/* Default theme */
/* Author : Guy Morin */

@font-face {
font-family: 'hemi';
src: url('hemi head bd it.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}	

html, body {
 margin: 0;
 padding: 0;
 background:#efd;
 }
body {
 font-family: Verdana, sans-serif; 
 font-size: .8em;
 }
h1 {
 font: 280% sans-serif; 
 text-transform:uppercase;
 text-align: center;
 }
h2 {
 font: 110% sans-serif; 
 font-weight:bold;
 font-style:italic;
 }
h3 {
 font: 100% sans-serif; 
 text-transform:uppercase;
 }
h4 {
 font: 90% sans-serif; 
 }
select, input {font-size:0.8em;}
th,td {padding:0 0.5em;}
a{color:#095;text-decoration:none}
a:hover{text-decoration:underline}

table{font-size:0.9em;margin:0 auto;border:1px solid #583;border-radius:3px;}
td{border:0.1em solid #ad7;}
tr{background:#dec}
tr:nth-child(2n) {background:#efd}
th{padding:.4em;background:#fff;;color:#000;font-weight:bold;}
input[type='date'] {font-size:1.2em}
input[type='number'] {width:6em;padding:1em 0}

/* Header and nav */

header{
	height:3.5em;
	overflow:hidden;
	padding:0;
	background:#371 linear-gradient(#482,#260);
}
header h1 {margin:0;padding:0}
header h1 a {
	font-family:hemi, sans-serif;
	text-decoration:none;
	color:white;
}
header h1 a:hover {text-decoration:none}

nav {
	height:3.5em;
	text-align:center;
	background:linear-gradient(#bf7,#9d6);
	color:#231;
	text-transform:uppercase;
}
nav a {display:inline-block;background:#4a2;color:white;padding:1em;text-decoration:none;margin:.1em 0;transition:.5s background}
nav a:hover {background:#fff;padding:1em;color:#231;text-decoration:none}
nav form {display:inline}
nav form, nav select, nav label, nav input {margin:0 .5em;padding:0}
nav label {margin-right:.2em}

/* FP menu */
#fp {
	background:none;
	padding:0;
	display:block;
	width:2em;
	float:left;
}
#fp input {display: none;}
#fp label{
	display:inline-block;
	padding:.2em 0;
	font-size:2em;
	color:black;
	cursor: pointer;
	transition:.5s color;
}
#fp input:checked + label,
#fp label:focus,
#fp label:hover{color:white;}

#fp-menu {
  position:absolute;
  left:0;
  top:3.5em;
  width:100%;
  height:calc(100% - 3.5em);
  background:#0009;
  padding:0;
  list-style-type: none;
  opacity:0;
  visibility:hidden;
  transition:.5s opacity;
}
#fp input:checked ~ #fp-menu {
  opacity:1;
  visibility:visible;
  overflow:hidden;
  transition:.5s opacity;
}
#fp-menu ul {
  list-style:none;
  margin:0;
  padding:0;
  transform: translate(-100%, 0);
  transition:.7s transform;
}
#fp input:checked ~ #fp-menu ul {
  transform: none;
  transition:.7s transform;
}

#fp-menu li a,
#fp-menu li a:focus,
#fp-menu li a:hover {
  display: block;
  text-decoration: none;
  font-size: 1em;
  margin:0;
  border-left:1px solid #aff371;
  border-right:1px solid #aff371;
  border-top:1px solid #aff371;
  text-align:left;
  width:20vw;
}
#fp-menu li:last-child a,
#fp-menu li:last-child a:hover,
#fp-menu li:last-child a:focus {
  border-bottom:100vh solid #aff371;
}

/* Section */
section {
	height:calc(100% - 7em);
	text-align:center;
	margin:0;
	padding:1em;
}
section ul li {display:inline}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0009;
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.update {
  margin: 7em auto;
  padding: .2em;
  background: white;
  border:1px solid #cfa;
  border-radius: 6px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color:black;
}

.update a {padding:.5em 1em}
.update a:hover {padding:.5em 1em}
.update p {margin:1em;}

.update .close {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 20ms;
  font-size: 1.5em;
  font-weight: bold;
  margin:0;
  padding:.1em .3em;
  text-decoration: none;
  background:none;border:none;color:#8b6;
}
.update .close:hover {background:none;border:none;color:#361;padding:.1em .3em;}


section #changeMD {display:inline-block;margin:0 auto;text-align:center;height:3em}
section #changeMD input[type=submit] {min-width:0;width:4em;text-align:center;margin:0 .5em}
section #changeMD input[type=submit]:first-child{float:left}
section #changeMD input[type=submit]:last-child{float:right}
section #changeMD form,
section #changeMD input,
section #changeMD h2 {display:inline-block;margin:0;padding:0}
section #changeMD h2 {position:relative;top:-1em;padding:1em;}

section table.stats th,
section table.stats td{width:1.5em;height:2em}
section table.stats th:first-child{width:15em}


section #results td:nth-child(3) {width:20em;}


section #equipe_type td:nth-child(2) {width:20em;}

section #criterion table {margin-bottom:1em}
section #criterion table td:first-child {width:20em;}
section #criterion table td:nth-child(2),
section #criterion table td:nth-child(3),
section #criterion table td:nth-child(4){width:10em;text-align:center}
section #criterion table td:nth-child(3){width:3em}
section #criterion table input[type='radio'] {margin-bottom:.3em}

section input[type='submit'] {margin:.5em;min-width:10em;height:3em}
section #criterion table.expert {border-color:#9c6;}
section #criterion table.expert th {background:#fff;color:#f30;border-color:#f60;}
section #criterion table.expert tr{background:#fd3}
section #criterion table.expert tr:nth-child(2n) {background:#fe9}

section ul {list-style:none;padding:.2em 0 0 0;margin:0}
section .menu {
	display:inline-block;
	text-align:center;
	background:#dec;
	border-radius:4px;
	box-shadow:1px 1px 10px 0 #9c6;
}
section .menu li {display:inline-block;vertical-align:top;}
section .menu li ul li a {
	width:10em;
	display:block;
	padding:.5em 1em;
	margin:.2em;
}
section .menu li ul li a big {font-size:2.5em}
section .menu li ul:last-child {margin-bottom:1em}
section .menu li ul li a:hover {background:linear-gradient(#4a2,#6c4);border:1px solid green;color:white;}

section #classement ul {display:inline;}
/* Onglet autres */
section #classement li a,
section #classement li p {display:inline;background:linear-gradient(#ad7,#8b6);color:white;padding:0 1em;margin:0;border-top:1px solid #99c;border-right:1px solid #9c6;border-left:1px solid #9c6;border-top-left-radius:3px;border-top-right-radius:3px}
/* Onglet en cours */
section #classement li p {background:linear-gradient(#8b6,#582);color:white;border-color:#583}
/* Onglet au survol */
section #classement li a:hover{text-decoration:none;background:white;color:#583}
section #classement th {min-width:2em}

section .tooltip span{
  display:none; 
}
section .tooltip{
  text-decoration:none; 
  position:relative;
}
section .tooltip:hover span,.tooltip:focus span{
  display:block; 
  position:absolute; 
  top:.3em; 
  left:1em;
  background:white;
  border:1px solid #ccf;
  border-radius: 6px;
  color:#564;
  padding:.5em;
}

footer {clear:both;font-size:0.9em;color:#564;padding:0.5em;margin-top:1em;text-align:center}
footer strong {color:#231}

.update a,
section .menu li ul li a,
input[type=button], input[type=submit], input[type=reset] {
	background:linear-gradient(#4a2,#6c4);
	color:white;
	border:1px outset #4a2;
	border-radius:5px;
	font-size:.9em;
	text-decoration:none;
 	cursor: pointer;
}
.update a:hover,.update a:focus,
section .menu li ul li a:hover,section .menu li ul li a:focus,
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,
input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus {
	background:#fff;
	border:1px outset #6c4;
	border-radius:5px;
	color:#231;
 	text-decoration: none;
 	cursor: pointer;
}
