/* This is the Football Predictions CSS page */
/* Default theme */
/* Author : Guy Morin */

@font-face {
font-family: 'hemi';
src: url('hemi_head_bd_it.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}	

html, body {
 margin: 0;
 padding: 0;
 overflow-x:hidden;
 }
html {
 background:#362;
}
body {
 font-family: Arial, sans-serif; 
 font-size: .9em;
 text-align:center;
 }
h1 {
 font: 180% Arial, sans-serif; 
 text-transform:uppercase;
 text-align: center;
 }
h2 {
 font: 100% sans-serif; 
 text-align:left;
 text-transform:uppercase;
 text-shadow:0 0 2px #0006;
 color:white;
 background:#777 linear-gradient(#888,#555);
 border-radius:2px;
 margin:0;
 padding:.2em 1.8em .2em .8em;
}
h3 {
 font: 110% Arial, sans-serif; 
 font-weight:bold;
 }
h4 {
 font: 90% sans-serif; 
 }
select {min-width:10em;}
select, input {font-size:.8em;}
table input {min-width:0}
select {margin-bottom:1em}
th,td {padding:.5em;}
a{color:#095;text-decoration:none}
a:hover{text-decoration:underline}

table{font-size:.9em;margin:0 auto;border:2px solid #774;border-radius:3px;min-width:50%;}
td{border:.1em solid #aaa;}
tr:nth-child(odd){background:#efefef}
tr:nth-child(even){background:#fff}
th{padding:.4em;background:#bf7;color:#222;font-weight:bold;}
input[type='date'] {font-size:1.2em}
input[type='number'] {width:6em;padding:1em 0}

/* Header and nav */

header{
	width:100vw;
	height:3em;
	overflow:hidden;
	padding:0;
	background:#250 linear-gradient(#471,#030);
	position:fixed;
}
header h1 {margin:0;padding:.25em 2em .25em 1.4em}
header h1 a {
	font-family:hemi, sans-serif;
	text-decoration:none;
	text-shadow:1px 1px #0003;
	color:white;
}
header h1 a:hover {text-decoration:none}

nav a {
	color:white;
	text-decoration:none;
}

/* Main menu */
#fp {
	background:none;
	margin:0;
	padding:0;
	display:block;
	float:left;
	width:3%;
}
#fp input {display: none;}
#fp .hamburger {
	display:inline-block;
	padding:.25em;
	font-size:1.8em;
	color:#fff9;
	text-shadow:1px 1px #0003;
	cursor: pointer;
	transition:color .5s;
}
#fp input:checked + label,
#fp label:focus,
#fp label:hover{color:white;}

#fp-menu {
	position:fixed;
	left:0;top:3em;
	z-index:1;
	width:100vw;
	height:100vh;
	overflow:hidden;
	padding:0;
	list-style-type: none;
	background:#0009;
}
#fp input:not(:checked) ~ #fp-menu {
	opacity:0;
	visibility:hidden;
}
#fp input:checked ~ #fp-menu {
	opacity:1;
	visibility:visible;
	transition:opacity .5s;
}
#fp input:not(:checked) ~ #fp-menu ul {
	transform: translate(-100%, 0);
}
#fp input:checked ~ #fp-menu ul {
	transform: none;
	transition:transform .5s;
}
.layer {
	position:absolute;
	left:calc(20vw + 2em + 2px);
	top:0;
	width:100vw;
	height:100vh;
}
#fp-menu ul {
	list-style:none;
	margin:0;
	padding:0;
	width:calc(20vw + 2em + 2px);
	height:100vh;
	overflow:hidden;
	background:#693;
}
#fp-menu li a
 {
	background:#ffc3;
	transition:background .5s;
	text-shadow:1px 1px #0003;
	display: block;
	text-transform:uppercase;
	text-decoration: none;
	font-size: 1em;
	margin:0;
	padding:1em;
	border-left:1px solid #693;
	border-right:1px solid #693;
	border-top:1px solid #693;
	text-align:left;
	width:20vw;
}
#fp-menu li a:hover,
#fp-menu li a:focus {
  background:#ff7;
  transition:background .5s;
}
#fp-menu li:last-child a,
#fp-menu li:last-child a:hover,
#fp-menu li:last-child a:focus {
  border-bottom:1px solid #482;
}
#fp-submenu a:focus, #fp-submenu a:hover,
#fp a:focus, #fp a:hover {
	background:white;
	color:#222;
	text-decoration:none
}

/* Submenu */
#fp-submenu {
	background:#693;
	color:#000c;
	position:fixed;
	margin-top:3em;
	width:100%;
	text-align:center;
	opacity:1;
	transition: opacity 1s;
}
#fp-submenu.off {
	opacity:0;
}
#fp-submenu a {
	border-left:1px solid #693;
	display:inline-block;
	margin:.05em 0;
	padding:.5em;
	background:#8a4;
	transition:background .5s;
}
#fp-submenu a:last-child {border-right:1px solid #693}
#fp-submenu a:hover, #fp-submenu a:focus, #fp-submenu .current {
	padding:.5em;
	color:#222;
	background:#ff7;
	transition:background .5s;
	text-shadow:1px 1px #0003;
}
#fp-submenu .session {background:#ccc3;color:#fff}
#fp-submenu form {display:inline}
#fp-submenu form, #fp-submenu select, #fp-submenu .hamburger, #fp-submenu input {margin:0 .5em;padding:0}
#fp-submenu label {margin-right:.2em}


/* Section */

section {
	background: #edf;
	border:2px solid #aaa;
	box-shadow:0 0 10px #444;
	width:90%;
	height:calc(100% - 7em);
	text-align:center;
	margin:7em auto .7em auto;
	padding:.4em .4em .8em .4em;
	display:inline-block;
	border-radius:4px;
}
section ul {list-style:none;padding:.2em 0 0 0;margin:0}
section ul li, section ul li ul {display:inline}

section .menu {
	text-align:center;
	padding:.2em 1em;
}
section .menu li {
	display:inline-block;
	margin:0 .4em;
	vertical-align:top;
}
section .menu li ul {clear:left;}
section .menu li ul li {
	margin:.5em 0 0 0;
}
section .menu li ul li a {
	display:block;
	padding:.5em 1em;
	margin:.2em;
}

section .menu li ul li a:hover {background:linear-gradient(#4a2,#6c4);border:1px solid green;color:white;}

section #changeMD {display:inline-block;margin:0 auto;text-align:center;}
section #changeMD input[type=submit] {
	min-width:0;
	margin:.5em
}
section #changeMD {
	display:block;
	width:100%;
}
section #leftArrow {float:left;}
section #rightArrow {float:right;}
section #leftArrow, section #rightArrow {
	display:block; width:4em; height:4em;
}

section table.stats th,
section table.stats td{width:1.5em;height:2em}
section table.stats th:first-child{width:15em}


section #results td:nth-child(3){width:20em;}


section #teamOfTheWeek td:nth-child(2){width:20em;}

section #criterion table {margin-bottom:1em}
section #criterion table td:first-child {width:20em;}
section #criterion table td:nth-child(2),
section #criterion table td:nth-child(3),
section #criterion table td:nth-child(4){width:10em;text-align:center}
section #criterion table td:nth-child(3){width:3em}
section #criterion table input[type='radio'] {margin-bottom:.3em}

section form {width: 80%;margin: 0 auto}
section form label {vertical-align: middle;width:9em;display:inline-block;}
section form label.right {text-align:right;padding-right:.2em}
section form p {text-align:left;margin:.2em;padding:.4em;display:inline-block;}
section .menu form p {margin:0;padding:0;}

section form span label:first-child{margin-left:1em;}
section form span input[type='radio']{margin-right:1em;vertical-align:bottom;}
section button[type='submit'], section input[type='submit'] {margin:.5em;padding:.5em 1em}
section #criterion table.expert {border-color:#9c6;}
section #criterion table.expert th {background:white;color:#f30;border-color:#f60;}
section #criterion table.expert tr{background:#fd3}
section #criterion table.expert tr:nth-child(2n){background:#fe9}

/* Standing table buttons */
section #standing ul {display:inline;}
/* Others button */
section #standing li a,
section #standing li p {
	font-size:1em;
	display:inline-block;
	background:linear-gradient(#eee,#fff);
	color:#2229;
	padding:.4em 1em;
	margin:0;
	border:1px solid #999;
	border-bottom:none;
	border-top-left-radius:3px;
	border-top-right-radius:3px}
/* Current button */
section #standing li p {background:#ff7;color:#333;}
/* Hover button */
section #standing li a:hover{text-decoration:none;background:#ff79;color:#3339}
section #standing th {min-width:2em}

section .tooltip span{
  display:none; 
}
section .tooltip{
  text-decoration:none; 
}
section .tooltip:hover span,.tooltip:focus span{
  display:block; 
  position:absolute; 
  top:.3em; 
  left:1em;
  background:white;
  border:1px solid #ccf;
  border-radius: 6px;
  color:#564;
  padding:.5em;
}

footer {clear:both;font-size:.9em;color:#564;padding:.5em;margin-top:1em;text-align:center}
footer strong {color:#222}

/* Error */
@keyframes errorDiv {
  0% 	{opacity:1;margin-bottom:.2em;padding:.4em;height:inherit;color:#f00;}
  79% 	{opacity:1;margin-bottom:.2em;padding:.4em;height:inherit;color:#f00;}
  80% 	{opacity:1;margin-bottom:.2em;padding:.4em;height:inherit;color:#f000;}
  100% 	{opacity:0;margin-bottom:0;padding:0;height:0;color:#f000;}
}
.error {
	animation-duration: 5s;
	animation-name: errorDiv;
	height:0;
	width: 80%;
	color:#f000;
	background:#fff;
	border:1px solid #f93;
	border-radius:3px;
	margin:0;
	padding:0;
	display:inline-block;
	opacity:0;
	text-align: center;
}

/* Buttons */
.update a,
section .menu li ul li a,
button[type=submit], input[type=submit], input[type=button], input[type=reset] {
	background:#eee linear-gradient(#ddd,#eee);
	transition: background .5s, border .5s;
	color:#444;
	border:1px outset #ccc;
	border-radius:5px;
	font-size:1em;
	margin:0 .5em;
	text-decoration:none;
	text-shadow:1px 1px #fff;
	
 	cursor: pointer;
}
.update a:hover,.update a:focus,
section .menu li ul li a:hover,section .menu li ul li a:focus,
button[type=submit]:hover, input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover,
button[type=submit]:focus, input[type=submit]:focus, input[type=button]:focus, input[type=reset]:focus {
	background:#fff linear-gradient(#fff,#fff);
	transition: background .5s, border .5s;
	border:1px outset #999;
	border-radius:5px;
	color:#333;
 	text-decoration: none;
 	text-shadow:none;
 	cursor: pointer;
}

/* Popup */
#overlay {
  position: fixed;
  overflow:hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0009;
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.update {
  margin:8em auto;
  padding:.2em .2em .4em .2em;
  background: white;
  border-radius: 6px;
  text-align:center;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color:black;
}
.update a {padding:.5em 1em}
.update a:hover,.update a:focus {padding:.5em 1em}
.update .close {margin:0;padding:0;}
.update .close a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  background:none;border:none;color:#8b6;
  float:right;
  transition: all 20ms;
  margin:0;
  padding:0 .2em;
}
.update .close a:hover, .update .close a:focus {
  background:none;
  border:none;
  color:#361;
}
.update p {clear:right;}
.update span, .update span a {
	display:inline-block;
}
.confirm p, .confirm form {display:block;margin:0;padding:0}
